body {
  background-image: url('../public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  margin: 0;
}

* {
  font-family: 'Inter', system-ui;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  padding: 40px;
  h1 {
    margin: 0;
  }
}

.searchBlock {
  display: flex;
  border: 3px solid #dccccc;
  border-radius: 10px;
  padding: 0 15px;
  input {
    bottom: 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: none;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.total-price {
  font-weight: 600;
  font-size: 15px;
}

.greenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
  img {
    transform: rotate(-180deg);
  }
}
